<div class="onetick-checkbox-container">
  <input type="checkbox" id="one-tick-checkbox" name="one-tick" value="true">
  <label for="one-tick">Add shipping protection ($5)</label>
</div>

{% schema %}
{
  "name": "One tick",
  "target": "head"
}
{% endschema %}

